# Configuración de Contratos Inteligentes (Ethereum Sepolia Testnet)
NEXT_PUBLIC_STUDENT_IDENTITY_ADDRESS=0x652b7718F130329F3eC865f418FE2a2634fb5E29
NEXT_PUBLIC_TOKEN_FACTORY_ADDRESS=0x30A4CA7ad7947f7Df6fdAf0EC4D9f4540e0149bB
NEXT_PUBLIC_BASE_ERC1155_ADDRESS=0x6b727bC4560A05AEEB9c353396395B35c6Fdb57E
NEXT_PUBLIC_DEX_FACTORY_ADDRESS=0x2491e5C6d2aC321f0036fF5D561b7c72086Ba5a4
NEXT_PUBLIC_WETH_ADDRESS=0x3E7B9d0da44D0c4Edb60a2261f89007f05419317

# Configuración del Project ID de RainbowKit / WalletConnect
NEXT_PUBLIC_RAINBOW_PROJECT_ID=YOUR_PROJECT_ID

